export SNOWFLAKE__ACCOUNT=FILLME
export SNOWFLAKE__USER=FILLME
export SNOWFLAKE__PASSOWRD=FILLME
export SNOWFALKE__ROLE=FILLME
export SNOWFLAKE__WAREHOUSE=FILLME
export SNOWFLAKE__DATABASE=FILLME
export SNOWFLAKE__SCHEMA=FILLME
